<!--.row
    box.text-center(style="width:300px;")
        img(src="logos/sicredi.png",style="width:200px; padding:5px;")
    box.text-center(style="width:100px; padding-top:20px; font-weight:bold; font-size:22px;")
        p 748-X
    box.text-right(style="padding-top:20px; font-weight:bold; font-size:22px;")
        p RECIBO DO PAGADOR

.row
    .col
        p Local do Pagamento
        p PAGÁVEL PREFERENCIALMENTE NAS COOPERATIVAS DE CRÉDITO DO SICREDI
    div(style="width:350px;")
        p Vencimento
        p 15/09/2019  

.row
    .col
        p Beneficiário
        p NOME DO BENEFICIÁRIO

    div(style="width:350px;")
        p Agência/Código Beneficiário
        p 3954.02.00092

.row
    .col.text-nowrap
        p Data do Documento
        p 06/05/2014
    .col.text-nowrap
        p Número do Documento
        p 123456/1
    .col.text-nowrap
        p Espécie do Documento
        p DM
    .col.text-nowrap
        p Aceite
        p NÃO
    .col.text-nowrap
        p Data de Processamento
        p 06/05/2014
    div(style="width:350px;")
        p Nosso Número
        p 14/200001-0

.row
    .col
        p Uso do Banco
        p Teste
    .col
        p Carteira
        p 1
    .col
        p Espécie
        p REAL
    .col
        p Quantidade
        p Teste
    .col
        p Valor
        p Teste
    div(style="width:350px;")
        p (=) Valor do Documento
        p 100,00

.row
    .col
        p testefplds´fpdlsf´dpslf´splfd´splf podfpdsokfpdokfd fpdoskfpdosklfdpokfds fpodksfpsdm fpdoskfsd fpodskfpsd pfosdkfsd fpdsofkds
    .col
        .row
            .col
                p (-) Desconto/Abatimento
                p Teste
        .row
            .col
                p (-) Outras deduções
                p Teste
        .row
            .col
                p (+) Juros / Multa
                p Teste
        .row
            .col
                p (+) Outros acréscimos
                p Teste
        .row
            .col
                p (=) Valor Cobrado
                p Teste
.row
    .col
        p Pagador:
        p NOME DO PAGADOR - 000.000.000-01
        P RUA FICTÍCIA
        p PORTO ALEGRE RS 90000-000
.row
    .col
        p Sacador / Avalista:
        p Teste
    .col
        p Código de Baixa:
        p Teste-->