doctype html
html
  head
    title #{title} - My Site
    include includes.jade

  body
    //header
      //h1 My Site

    - var via = 0

    .container.impressao.default-boleto
      - via = 1
      include boleto.jade
      - via = 2
      include boleto.jade
      
      table(style='width:100%')
        tr
          td(style='text-align:right;')
            | Autenticação Mecânica - <b>FICHA DE COMPENSAÇÃO</b>
            div#barcode(style='width:600px; padding:5px;')

    script.
      new Boleto('#{data.linhadigitavel}').toSVG('#barcode');
      //var svg = new Boleto(number).toSVG();
      //console.log(svg); // Veja o código HTML no console

    //script.
    //  JsBarcode("#barcode", #{barcode}, {
    //    format: "EAN13",
    //    background: "transparent",
    //    width:2.5,
    //    height:50,
    //    displayValue:false
    //  });
      //window.print();

  //footer
  //    p Running on node with Express, Jade and Stylus